[Desktop Entry]
Version=1.0
Type=Application
Name=Sketchy Maze
GenericName=Maze Game
X-GNOME-FullName=Sketchy Maze - A drawing-based maze game
Comment=A drawing-based maze game.
Exec=/opt/sketchy-maze/sketchymaze
Path=/opt/sketchy-maze
Icon=project-doodle
StartupNotify=true
Keywords=game;maze;
Categories=Game;
X-Purism-FormFactor=Workstation;Mobile;
