[Desktop Entry]
Version=1.0
Type=Application
Name=Project: Doodle
GenericName=Project Doodle
X-GNOME-FullName=Project: Doodle - A drawing-based maze game
Comment=A drawing-based maze game.
Exec=/opt/project-doodle/doodle
Path=/opt/project-doodle
Icon=project-doodle
StartupNotify=true
Keywords=game;maze;
Categories=Game;
