pkg/bindata/bindata.go
fonts/
maps/
bin/
dist/
rtp/
dev-assets/guidebook/venv
dev-assets/guidebook/site/
wasm/assets/
*.wasm
*.doodad
*.level
docker/ubuntu
docker/debian
docker/fedora
screenshot-*.png
map-*.json
pkg/wallpaper/*.png

