pkg/bindata/bindata.go
deps/
fonts/
maps/
bin/
dist/
rtp/
guidebook/
docker-artifacts/
wasm/assets/
*.wasm
*.doodad
*.level
*.levelpack
*.AppImage
docker/ubuntu
docker/debian
docker/fedora
screenshot-*.png
map-*.json
pkg/wallpaper/*.png
