body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background-color: #EEE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.4em;
}

div#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 220px;
	background-color: #000066;
	color: #EEE;
}

nav {
	padding: 1.5rem;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	display: block;
}
nav a:link, nav a:visited {
	color: #EEE;
	text-decoration: none;
}
nav a:hover, nav a:active {
	color: #F9F;
	text-decoration: underline;
}

div#content {
	position: absolute;
	top: 0;
	left: 220px;
	right: 0;
	bottom: 0;
}

div#content div {
	position: relative;
	width: 100%;
	height: 100%;
}

div#content iframe {
	width: 100%;
	height: 100%;
	border: 0;
	overflow: auto;
}
