body {
	background-color: #EEE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.4em;
	margin: 2rem;
}

a:link, a:visited {
	color: #006699;
	text-decoration: underline;
}
a:hover, a:active {
	color: #996600;
}

.codehilite {
	border: 1px solid #222;
}
pre {
	font-family: "Lucida Console", "DejaVu LGC Sans Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Ubuntu Mono", monospace;
	margin: 0;
	padding: 8px;
}
